@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 214, 219, 220;
  --background: #fff
}

body {
  display: block;
  margin: 0;
  padding: 0;
  color: var(--foreground-rgb);
  background: var(--background)
}

.popup-closed {
  display: none;
}